body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color:black;
    text-align: center;
    background-image: url(https://www.ccpgames.com/img/universe/background_nebula.jpg);
    background-repeat: repeat-x;
    }
    
  
  
h1 {
    color:blue;
    text-align: center;
}

p {
    font-size: 25px;
    text-align:center;
    color:white;
}
#radio{
text-align: center;
}

#start{
    background: #4aaaaa;
    text-align: center;
    color: blue;
    height: 70px;
    width: 200px;

}
#display{
    color: bisque;
    text-align: center;
}

#done{  
    background: #4aaaaa;
    color: blue;
    height: 70px;
    width: 200px;
}
